# The address, historically called the Jabber ID (JID), of the account to use
# when logging in. It must match the address specified on one of the accounts.
# default_account=""

# The timeout to use when creating a connection (eg. 1m or 30s).
# For more information on the format see:
# https://golang.org/pkg/time/#ParseDuration
#
# timeout = "30s"

[[account]]

# The address to log in as. If only the domain part is provided, the SASL
# ANONYMOUS mechanism will be attempted on the given server.
# If it matches the global default_account option the settings from this account
# will be used when logging in.
# address=""

# Gets the password by executing the given command and reading from its standard
# output. This lets you use a keyring or password manager instead of writing
# your password to a config file.
#
# The default is empty, which will cause communiqué to prompt for a password:
#
#     password_eval=""
#
# You could also install libsecret and use the secret-tool command to get a
# password from a keyring such as GNOME keyring, or use keepassxc-cli to get it
# from a KeePassXC database. Here are a few examples using common password
# managers:
#
#     # https://wiki.gnome.org/Projects/Libsecret
#     password_eval="secret-tool lookup jabber me@example.com"
#
#     # https://keepassxc.org/
#     password_eval="keepassxc-cli show -a Password secrets.kdbx Communication/xmpp.example.com"
#
#     # https://www.passwordstore.org/
#     password_eval="pass jabber/me@example.com"
#
#     # https://bitwarden.com
#     password_eval="bw get password xmpp:me@example.com"
#
# You shouldn't put your password in a plaintext config file, but if you must do
# so you can use echo(1):
#
#     password_eval="echo -n password"

# The path to the sqlite3 database. You can also use ":memory:" for a one-time
# in-memory database which ceases to exist when communiqué exits. If left empty
# the following files are attempted, falling back in this order (where
# {account} is the name of the account):
#
#  - $XDG_DATA_HOME/communiqué/{account}.db,
#  - $HOME/.local/share/communiqué/{account}.db
#  - ./{account}.db
#
# db_file = ""

# Disables SRV lookups on the domainpart of the address.
#
# disable_srv=false

# Disables TLS support and resets all connections to plain, unencrypted TCP.
# Use of this option compromises security and should only be used for debugging.
#
# disable_tls=false

# Specifies a file where TLS master secrets will be written in NSS key log
# format. This can be used to allow external programs such as Wireshark to
# decrypt TLS connections. The file will be truncated without a prompt if it
# already exists.
# See https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS/Key_Log_Format.
# Use of this option compromises security and should only be used for debugging.
#
# keylog_file=""

[log]

# Turns on debug logging.
# verbose = false

# Log the XML stream.
# Use of this option compromises security and should only be used for debugging.
# xml = false

[ui]

# Command to be executed to issue a notification (currently invoked on new
# messages). Some examples:
#
#     # Ring the terminal bell.
#     notify=["echo", "-e", "\\a"]
#
#     # Send a desktop notification
#     notify=["notify-send", "New Jabber message received"]
#
# notify=[]

# Don't show status line below contacts in the roster.
# hide_status = false

# The width (in columns) of the roster.
# width = 25

# The name of a theme to select.
# theme = ""

# A command to execute for file selection instead of using the built-in file
# picker.
# The result should be a newline separated list of file paths printed to stdout.
#
# For example:
#
#     # https://github.com/gokcehan/lf
#     file_picker=["lf", "-print-selection"]
#
#     # https://github.com/junegunn/fzf
#     file_picker=["fzf", "--multi"]
#
# file_picker=[]

# Themes
#
# The colors are W3C color names including: black, maroon, green, olive, navy,
# purple, teal, silver, gray, red, lime, yellow, blue, fuchsia, aqua, and white
# (among others).
# You may also enter a hex string using the format, "#ffffff".
# Multiple themes may exist in a config file and one may be selected by setting
# "ui.theme" (see the "ui" section above for details).
#
# [[theme]]
#
# name = ""
#
# primitive_background     = "black"
# contrast_background      = "blue"
# more_contrast_background = "green"
# border                   = "white"
# title                    = "white"
# graphics                 = "white"
# primary_text             = "white"
# secondary_text           = "yellow"
# tertiary_text            = "green"
# inverse_text             = "blue"
# contrast_secondary_text  = "darkcyan"
